In [36]:
import pandas as pd
path_to_images = "/data2/ajay_data/lesion_data/2019/"

In [38]:
label_df = pd.read_csv(path_to_images + "ISIC_2019_Training_GroundTruth.csv")
label_df[:5]
# for i in range(5, len(label_df)):
#     if sum(list(label_df.iloc[i])[1:]) > 1:
#         print("X")

          image  MEL   NV  BCC   AK  BKL   DF  VASC  SCC  UNK
0  ISIC_0000000  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
1  ISIC_0000001  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
2  ISIC_0000002  1.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
3  ISIC_0000003  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
4  ISIC_0000004  1.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0

In [39]:
print(len(label_df))

25331

In [51]:
mode = ["train"] * len(label_df)
import random
print(0.25 * len(label_df))
test = random.sample(range(len(label_df)), 6332)
for a in test:
    mode[a] = "test"
val = random.sample(range(len(label_df)), 1500)
for a in val:
    if a not in test:
        mode[a] = "val"

6332.75

In [59]:
label_df["mode"] = mode

In [64]:
label_df.to_csv(path_to_images + "split_label.csv")